<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>

<h2>{#posts}</h2>
<h2>{#댓글}</h2>
<h2>{#좋아요}</h2>
<h2>{#posts}</h2>
  <h2>{#posts}</h2>
  <h2>{#댓글}</h2>
  <h2>{#좋아요}</h2>
  <h2>{#posts}</h2>

</body>
</html>